/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


s|Button
{
	cornerRadius: 6;
}


.bordaCheia
{
	cornerRadius: 26;
	borderWeight: 6;
	dropShadowVisible: true;
}







